<!DOCTYPE html>
<html>
  <head>
    <title>Calculator App</title>
  </head>
  <body>
    <div class="container-fluid">

     
    <table class="calculator">
      <tr>
        <td colspan="12">
          <div>
            <div class="disply-box" type="text">{{input}}</div>
          </div>
          <div>
            <div class="disply-box" type="text">{{result}}</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressNum('1')"
            value="1"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressNum('2')"
            value="2"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressNum('3')"
            value="3"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressOperator('/')"
            value="/"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="allClear()"
            value="C"
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressNum('4')"
            value="4"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressNum('5')"
            value="5"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressNum('6')"
            value="6"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressOperator('-')"
            value="-"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="clear()"
            value="Del"
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressNum('7')"
            value="7"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressNum('8')"
            value="8"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressNum('9')"
            value="9"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressOperator('+')"
            value="+"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressOperator('%')"
            value="%"
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressNum('.')"
            value="."
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressNum('0')"
            value="0"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressNum('00')"
            value="00"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="pressOperator('*')"
            value="*"
          />
        </td>
        <td>
          <input
            class="button"
            type="button"
            (click)="getAnswer()"
            value="="
          />
        </td>
      </tr>
    </table>
      </div>
  </body>
</html>